<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
</div>

<div class="pt-3">
    <img src="img/BHEL_logo.png" alt="bhel-logo" width="200" height="135">
</div>

<div class="pt-3">
    <p><strong>Bharat Heavy Electricals Limited (BHEL)</strong> is an Indian central public sector undertaking and the largest government-owned power generation equipment manufacturer. It is under the ownership of Government of India and administrative control of the Ministry of Heavy Industries. Established in 1956, BHEL is based in New Delhi with the help of Soviet technology.</p>
    <p><strong>BHEL</strong> is one of the largest engineering and manufacturing companies of its kind in India engaged in design, engineering, construction, testing, commissioning and servicing of a wide range of products and services with over 180 product offerings to meet the ever-growing needs of the core sectors of economy.</p>
</div>

<div class="pt-3">
    <p><strong>Internship Project:</strong></p>
    <p>Creating a Gate Pass Management System (GPMS) for Bharat Heavy Electricals Limited (BHEL).</p>
</div>